.wanikani-autocomplete-tooltip {
    position: absolute;
    background: #9800e4;
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 16px;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;

    opacity: 0;
    transition: opacity 0.1s ease;
    pointer-events: none; /* so it doesn't block input */
}

/* Show tooltip */
.wanikani-autocomplete-tooltip.show {
    opacity: 1;
}
